# For more Travis CI environment variables https://docs.travis-ci.com/user/environment-variables/
DOCKERHUB_TRIGGER_URL
TRAVIS_BRANCH
TRAVIS_TAG
TRAVIS_PULL_REQUEST
DOCKER_USERNAME
DOCKER_PASSWORD
CODECOV_TOKEN