DOCKERHUB_TRIGGER_URL=https://registry.hub.docker.com/u/flemay/envvars/trigger/trigger-token/
TRAVIS_BRANCH=master
TRAVIS_TAG=v1.0.0
TRAVIS_PULL_REQUEST=false
DOCKER_USERNAME=username
DOCKER_PASSWORD=password
CODECOV_TOKEN=token